//***
this css has the general header/footer layout stuff
***/

/**
general
**/
html,body{
	background: #fff;
	color: #474747;
	font: 16px/1.5 'Sailec', Arial, sans-serif;
	width:100%;height:100%;
}
body {
	display: flex; 
  flex-direction: column; 
}


/**
header
**/
header {
	/* style */
	background: #1e1e1e;
	color: #fff;
	text-align: center;
	/* layout */
	height: 44px;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
}
#logo {
	margin-top: 4px;
	height: 35px;
}
/* buttons */
.button_big,
.button_dropdown,
.button_small {
	/* style */
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	border-radius: 6px;
	/* layout */
	display: inline-block;
	padding: 5px 10px;
	margin: 6px 5px;
}
.button_big:hover,
.button_dropdown:hover,
.button_small:hover {
	cursor: pointer;
}
/* small buttons */
.button_small,
.button_dropdown { background: #1e1e1e }
.button_small:hover,
.button_dropdown:hover { background: #1e1e1e; color: #ff7920 }
/* big buttons */
.button_big {
	background-color: #ff7920;
	width: 160px;
}
.button_big:hover {
	text-decoration: underline;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
	/* style */
	background-color: #444;
	border-radius: 6px;
	/* layout */
	padding: 10px 0;
	margin: -6px 0;
	text-align: left;
	display: none;
	position: absolute;
	min-width: 160px;
}

.dropdown-content a {
	/* style */
	color: #ddd;
	text-decoration: none;
	/* layout */
	display: block;
	padding: 0.5px 20px;
}

.dropdown-content a:hover {background-color: #222; color: #ff7920;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/**
header dropdowns
**/
/* change button margin/padding to fit dropdown */
.dropdown_contain { padding: 0; margin: 6px 5px; }
.dropdown_button { margin: 0; padding: 5px 10px; }
.hamburger_button::before { margin: 0; padding: 5px 10px; font-family: GlyphiconsRegular; content: '\E188'; background-color: #1e1e1e; }
/* make dropdown appear on hover */
.dropdown_contain:hover>nav {
	display: block;
	cursor: default;
}
/* the dropdown itself */
.dropdown_menu {
	/* style */
	background-color: #444;
	border-radius: 6px;
	/* layout */
	width: 100%;
	padding: 10px 0;
	margin: 0;
	text-align: left;
	/* hover stuff */
	position: relative;
	float: left;
	display: none;
}
/* dropdown links */
.dropdown_menu>a {
	/* style */
	color: #ddd;
	text-decoration: none;
	/* layout */
	display: block;
	padding: 2px 20px;
}
.dropdown_menu>a:hover {
	background: #222;
	color: #ff7920;
	cursor: pointer;
}
/* dropdown header and separation */
.dropdown_menu>h2 {
	/* style */
	color: #fff;
	font-size: 15px;
	/* layout */
	margin:0;
	padding:2px 20px;
}
.dropdown_menu>hr {
	border: 1px solid #222;
	margin: 10px 0;
}
.banner {
  width: 100%;
  padding:60px 40px;
  text-align: left;
  background-image: url(../img/banner2020.png);
  color: #fff;
  background-size: 769px;
  text-align: center;
}
.link-text {
  cursor: pointer;
  font-weight: 500;
  color: #462311;
  background: #0000009e;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 8px 12px;
  margin: 0 5px;
}
.link-text:hover {
  background-color: #000000;
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
a:visited {
  text-decoration: none;
  color: #fff;
}
a {
	text-decoration: none;
	color: #fff;
}
main {
	padding: 20px 40px;
	box-shadow: 0 0 20px 0px #0000004d;
}

.mod {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 387px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  display: inline-table;
  margin: 9px;
}

img.thumbnail {
  width: 387px;
  height: 218px;
  /** dehover animation **/
  transition: 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
}

img.thumbnail:hover {
  filter: opacity(0.7);
  /** hover animation **/
  transition: 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.credit {
  font-size: 15px;
}

.mod button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #5595c7;
  text-align: center;
  cursor: pointer;
  width: 90%;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.mod button:hover {
  filter: opacity(0.7);
  transition: 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);
}

/**
footer
**/
footer{
	background: #1e1e1e;
	margin-top: auto; /* footer at the foot */
	display: flex;
	justify-content: space-between
}
footer nav { margin:5px 10px}
/* links */
footer a {
	color: #fff;
	text-decoration:none;
	margin: 0 10px;
	font-weight: bold;
}
footer a:hover {
	text-decoration: underline;
}

/**
font importing
**/
@font-face {
	font-family: 'Sailec';
	font-weight: 100;
	src: url('.../fonts/Sailec-Thin.woff') format('woff');
}

@font-face {
	font-family: 'Sailec';
	font-weight: 200;
	src: url('../fonts/Sailec-Light.woff') format('woff');
}

@font-face {
	font-family: 'Sailec';
	font-weight: 400;
	src: url('../fonts/Sailec-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Sailec';
	font-weight: 500;
	src: url('../fonts/Sailec-Medium.woff') format('woff');
}

/* font weight 500 and font weight 700 (bold) are the same for better integration support */
@font-face {
	font-family: 'Sailec';
	font-weight: 700;
	src: url('../fonts/Sailec-Medium.woff') format('woff');
}

@font-face {
	font-family: 'GlyphiconsRegular';
	src: url('../fonts/glyphicons-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}